@charset "UTF-8";
ul, ol {
    list-style: none;
}
#wrap {width:100%;}

/* header 영역*/
/* #header {width:100%; border-bottom: 1px solid #d2d2d2;}
#header .hd_top {position:relative; width:1020px; height:120px; margin:0 auto;}
#header .hd_top h1 {padding-top:20px;}
#header .hd_top ul.localMenu {position:absolute; top:33px; right:0; overflow:hidden;}
#header .hd_top ul.localMenu li {float:left; padding:2px 12px; background:url('../image/main/topmenu_bar.png') no-repeat 0 50%;}
#header .hd_top ul.localMenu li a {font-size:12px; color:#666;}
#header .hd_top ul.localMenu li a:hover {text-decoration:underline;}
#header .hd_top ul.localMenu li.local01 {background:none;}


#container {width:100%; height: 700px;} 
#visual {width:100%; min-height: 550px;}
#visual div {widows: 100%; min-width: 100%; min-height: 100%; margin:0 auto;} */

/* main */
/* #main{
    
} */
#main {
   height: 100%;
   width: 100%;
   border-top:1px solid black;
   border-bottom:1px solid black;
   background: #f1f1f1;
}

.wrap_image{
    position: flex;
    width: 1750px;
    height: 300px;
    margin-top: 50px;
    margin-left: 170px;
}

.wrap_image .image_position {
    width: 50%;
    height: 300px;
    float: left;
    position: relative;
    display: flex;
}

.image_position > img {
    width: 250px;
    height: 250px;
    margin: 0px 10px 0px 10px;
    border: 5px solid pink;
    border-radius : 13px;
}

.wrap_image .editor_position {
    width: 50%;
    height: 300px;
    float: right;
    position: relative;
    display: flex;


}

.editor_position .editor-table {
    display: flex;
    margin-top: -30px;
    margin-left: 100px;
    margin-right: 100px;
    border-spacing: 0px;
   border-collapse: separate;
}

.editor_position .editor-table > tbody {
   margin-left: -100px;
    width: inherit;
    height: inherit;
    margin-top: 15px;
}

.editor_position .editor-table td{
    width: 200px;
    height: 80px;
    text-align: center;

}


.editor_position .editor-table > tbody > tr > td{
    
    margin-bottom: 50px;
    font-size: 22px;
   font-family: 'Jua', sans-serif;
}

.editor_position .editor-table > tbody > tr > td:nth-child(1){
/*     padding-left:50px;
    padding-right:50px; */
    width :600px;
    margin-bottom: 50px;
    font-size: 30px;
    font-family: 'Jua', sans-serif;
}

.editor_position .editor-table > tbody > tr > td:nth-child(2){
/*     padding-left:50px;
    padding-right:50px; */
    width :500px;
    margin-bottom: 50px;
}

.editor_position .editor-table > tbody > tr > td > button{
 border-radius : 13px;
 color:black; 
}

.editor_position .editor-table > tbody > tr > td > button:hover{
 border-radius : 13px;
 color:white; 
 background-color: skyblue;
}

.editor_position .editor-table > tbody > tr > td > button > img{
    width: 85px;
    height: 85px;
    border: 1px solid black;
}

.restaurant-detail{
    display: flex;
    margin-left: 169px;
    font-family: 'Jua', sans-serif;
}

.restaurant-detail ul li {
    font-size: 25px;
    margin-bottom: 20px;
}
.restaurant-detail ul:nth-child(2) {
    font-size: 25px;
    margin-bottom: 20px;
    padding-left:180px;
}

.detail ul:last-child{
    margin-left: 100px;
}

.comment-table{
   border-top-left-radius: 100px;
   border-top-right-radius: 0px;
   border-bottom-left-radius:100px;
   border-bottom-right-radius:100px;
   border : 25px solid black;
    width: 55%;
    height: 55%;
    opacity: 90%;
    background: pink;
    top: 25%;
    left: 25%;
   text-align: center;
}
.comment-table:hover{
   border-top-left-radius: 100px;
   border-top-right-radius: 0px;
   border-bottom-left-radius:100px;
   border-bottom-right-radius:100px;
   border : 25px solid black;
    width: 55%;
    height: 55%;
    opacity: 90%;
    background: pink;
    top: 25%;
    left: 25%;
    background-color: skyblue;
    text-align: center;
}
/* 핑크색댓글모음 */
.comment-table div{
    width: 5%;
    height: 3%;
}


.member-comment{
    height: inherit;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-spacing: 50px;
}

.member-comment >tbody > tr > td:nth-child(2){
   width:500px;
}

.hide-review {
    position: relative;
    width: 50px;
    height: 20px;
    font-family: 'Jua', sans-serif;
}
.d-none{
    display: none;
    position: absolute;
    font-family: 'Jua', sans-serif;
}

/* footer 영역 */
/* #footer {width:100%; border-top:1px solid #d2d2d2; margin-top:0px; bottom: 0px;}
.footer_w {width:1020px; margin:0 auto;}
.footer_w ul {overflow:hidden; padding-top:27px; padding-bottom:22px;}
.footer_w ul li {float:left; padding:0 12px; background:url('../image/main/foot_line.png') no-repeat 0 50%;}
.footer_w ul li.le {padding-left:0; background:none;}
.footer_w ul li a {font-size:12px; color:#333;}
.footer_w address {font-size:12px; color:#333; line-height:1.6em; font-style:normal; padding-bottom:35px;} */

